<template name="components_accounts">
    {{#unless isPublicNode}}
    {{#if accountsExist}}
        <ul class="dapp-account-list" style="max-width: 500px; margin: 20px auto 20px; max-height: 100px; overflow-y: scroll; border: lightgrey double">
            {{#each accountList}}
            <li>
                <button class="account-choice" id="{{@index}}">
                    {{> dapp_identicon identity=this class='dapp-small'}}
                    <a class="dapp-identicon dapp-small" style="background-image: url(identiconimage.png)"></a>
                    <h3>{{this}}</h3>
                </button>      
            </li>
            {{/each}}
        </ul>
    {{else}}
        <h3 class="center">You have no Ethereum Accounts active</h3>
    {{/if}}
    {{/unless}}
</template>
