<template name="views_tip">
	<h1 class="center">Send a <span>Tip</span></h1>
	<h4>If you'd like to show your appreciation for this Ðapp, first and foremost, please make use of it or if you have some extra funds you may send a tip to support me and my future Ethereum projects using one of the options below. 
	For now, this page will be a basic tipping jar, if people request it or tips pick up, I'll create a tip leaderboard, where you'll be able to leave a message, request, or link, which will show up on this page. <span>Any</span> amount is appreciated and helps!
	</h4>
	{{> components_tipEther}}

</template>
